name: Documentation

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
    job1:
        name: Generate Documentation
        runs-on: ubuntu-20.04
        steps:
        - uses: actions/checkout@v2-beta
        - name: Set up Python
          uses: actions/setup-python@v1
          with:
            python-version: '3.8.9'
        - name: Install 
          run: |
            cd docs
            pip3 install -r requirements.txt
        - name: Install doxygen/depends of doxybook
          run: sudo apt install -y doxygen wget
        - name: Wget package
          run: |
            wget https://github.com/matusnovak/doxybook2/releases/download/v1.2.3/doxybook2-linux-amd64-v1.2.3.zip
            mkdir -p ~/doxybook2
            cp -rf . ~/doxybook2
            cd ~/doxybook2
            unzip doxybook2-linux-amd64-v1.2.3.zip
        - name: Generate doxygen
          run: |
            cd docs/docs/doxygen
            doxygen Doxyfile
        - name: Generate markdown from doxygen XML file
          run: |
            export PATH="$PATH:~/doxybook2/bin"
            cd docs/docs/doxygen
            mkdir -p ./markdown/Classes
            doxybook2 --input ./build/ --output ./markdown -c config.json
        - name: Build documentation
          run: |
            cd docs
            mkdocs build
        - name: Publish Document
          # if: ${{ github.event_name == 'push' || github.event_name == 'schedule'}}
          uses: peaceiris/actions-gh-pages@v3
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: docs/site